body {
  background-color: grey;
}

h1 {
  color: crimson;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
	color: cyan;
  font-family: Papyrus,fantasy"
}

p {
	color:white;
	font-family: "Helvetica" Sans-serif;
	}